<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form {
            /* border: 1px solid black; */
            width: 15%;
            padding: 1%;
            margin-top: 14%;
            border-radius: 2%;
            background-color: #f4ccd2;
        }
        body{
            background-color: #c83642;
        }
        button{
            background-color: #c83642;
            color:#f4ccd2;
            padding:3%;
            border:none;
        }
    </style>
</head>

<body>
    <center>
        <form method="POST">
            <label>Enter New password</label></br>
            <input type="text" name="npassword" /></br>
            <label>Confirm password</label></br>
            <input type="text" name="cpassword" /></br></br>
            <button>Submit</button>
        </form>
    </center>
</body>

</html>